.container {
  height: 850px;
  width: 850px;
  margin: 30px auto;
  position: relative;
  background-color: lightskyblue;
}

.player {
  position: absolute;
  background-color: lightyellow;
  width: 10%;
  height: 10%;
  border-radius: 12px;
  top: 10%;
  left: 10%;
}

.time {
  text-align: center;
  text-transform: uppercase;
  color: brown;
  font-weight: bold;
  text-decoration: underline;
}
